<title>Homepage</title>

<div class="homepage-container">
  <div class="homepage-box">
    <h2 class="homepage-heading">This is the homepage</h2>
    <div class="homepage-line"></div>
    <div>
      <%= link_to "Go to discussions", discussions_path, class: "homepage-button" %>
    </div>
  </div>
</div>