<title>Homepage</title>

<div class="homepage-container">
  <div class="homepage-box">
    <h2 class="homepage-heading">Homepage</h2>
    <div class="homepage-line"></div>
    <div>
      <%= link_to "General Discussion", general_discussions_path, class: "homepage-button" %> <br>
      <%= link_to "Strategies Discussion", strategies_path, class: "homepage-button" %>
    </div>
  </div>
</div>
